TZ=
NODE_ENV=

ETHERSCAN_API_KEY=

SEPOLIA_RPC_URL=
SEPOLIA_PRIVATE_KEY=

SEPOLIA_VRF_COORDINATOR_ADDRESS=
SEPOLIA_RANDOM_IPFS_NFT_REQUEST_FEE=
SEPOLIA_RANDOM_IPFS_NFT_GAS_LANE=
SEPOLIA_RANDOM_IPFS_NFT_SUBSCRIPTION_ID=
SEPOLIA_RANDOM_IPFS_NFT_CALLBACK_GAS_LIMIT=
